---
interface Props {
  pageTitle: string;
  description: string;
}

const { description, pageTitle } = Astro.props;

import "@radix-ui/themes/styles.css";

import "@/styles/style.css";
import "@/styles/app.css";

import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- this info -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- page info -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle} // astro-electron</title>
    <meta name="description" content={description} />

    <!-- trans ition-->
    <ClientRouter />
  </head>

  <body>
    <div class=`titlebar ${process.platform === "win32" ? "win" : "mac"}`>
      {pageTitle} // astro-electron | {process.platform}
    </div>
    <slot />
  </body>
</html>
